/*------------------------------------------------------------
title
------------------------------------------------------------*/
.c-title {
    width: 100%;
    max-width: 499px;
    margin: 0 auto;
    border: 2px solid;
    border-radius: 3px;
    text-align: center;

    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin: 14px 0;
    }

    p {
        font-size: 2.6rem;
        font-weight: 600;
        padding-bottom: 16px;
        letter-spacing: -0.125em;
    }

    &__pickup {
        border-color: #acdeda;

        h2 {
            color: #a3d6d1;
        }

        p {
            color: #fff;
        }
    }
}
/*
------------------------------------------------------------*/






