.c-pickup {
    width: 100%;
    padding: 50px 0;
    background: url("/assets/img/bg_pickup.png");

    &__box {
        margin-top: 60px;

        &item {
            margin: 0 7.5px;
            background: #fff;
        }

        &link {
            display: block;
            text-decoration: none;
        }

        &img {
            position: relative;
        }

        &name {
            font-size: 1.5rem;
            font-weight: 600;
            background: #fff;
            color: #00ada0;
            position: absolute;
            right: 0;
            bottom: -1px;
            padding: 8px 9px;
        }

        &desc {
            min-height: 108px;
            padding: 10px;
            color: #000;

            &long {
                font-size: 1.6rem;
                font-weight: 600;
                line-height: 1.6;
            }

            &short {
                font-size: 1.4rem;
                margin-top: 10px;
                line-height: 1.4;
            }
        }
    }
}
